<% include partials/header %>
<div>
  <br>
  <ul id="main">
      <% for (message of locals.messages) {
          if(message.Mail!==locals.session){%>
            <li class="d-flex justify-content-between mb-4 pb-3">
              <span class="ml-lg-5">
                <div class="chat-body blue p-3 ml-2 z-depth-1">
                  <div class="header">
                    <strong class="primary-font"><%= message.Mail%></strong>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                     <%= message.message%>
                  </p>
                </div>
              </li>
          <%}
          else if(message.Mail===locals.session){%>
            <li class="d-flex justify-content-between mb-4">
                <div class="chat-body green p-3 z-depth-1">
                  <div class="header">
                    <strong class="primary-font"><%= message.Mail%></strong>
                  </div>
                  <hr class="w-100">
                  <p class="mb-0">
                    <%= message.message%>
                  </p>
                </div>
              </li>
            <%}%>
        <%}%>
      <li class="fixed-bottom ">
        <input class="w-50 text-info" id="inputSend" placeholder="Type your message here..."></input>
        <button type="button" class="btn btn-info btn-rounded btn-sm waves-effect waves-light">Send</button>
    </li>
  </ul>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/chat/socket.js"></script>
<script type="text/javascript">
  chatting("<%= locals.session %>")
</script>
<% include partials/footer %>
